        body{
            background-color: #070F2B;
            color: #9290C3;
        }
        h1{
            font-size: 38px;
        }
        a{
            text-decoration: none;
            color: #9290C3;
            transition: transform 0.3s ease;
        }
        
        *{
            margin: 0%;
            padding: 0%;
        }
        .navbar{
            background-image: linear-gradient(to top right,#070F2B,#535C91);
            top: 0;
            left: 0;
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid rgb(2, 3, 48);
            position: fixed;
            z-index: 1000;
        }

        .left{
            font-size: 21px;
            margin-left: 50px;
            transition: transform 5s ease;
        }
        
        .right{
            font-size: 25px;
            display: flex;
            width: 700px;
            justify-content: space-evenly;
            align-items: center;
        }
        .right h5:hover{
            transform: scale(1.3);
        }
        .left h1:hover{
            transform: scale(1.05);
        }
        h5:hover{
            border-radius: 5px;
            background-color: #141e40;
        }
        
        .education{
            margin-top: 8%;
            justify-content: center;
            align-items: center;
            border: 2px solid rgb(11, 11, 44);
            height: 630px;
            width: 100%;
        }
        .be{
            background-color: #7d7d9c;
            color: #070F2B;
            text-align: center;
            margin-left: 15%;
            margin-top: 20px;
            height: 150px;
            width: 70%;
            border: 1px solid rgb(120, 89, 177);
            border-radius: 10px;
            transition: transform 0.8s ease;
        }
        .be:hover{
            transform: scale(1.03);
        }
        .be h2{
            margin-top: 2.5%;
        }

        pre{
            font-size: 15px;
        }

        .social-links {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        .social-links img {
            width: 80px;
            height: 80px;
            transition: transform 0.3s ease;
        }

        .social-links img:hover {
            transform: scale(1.3);
        }
        h2,h3{
            text-align: center;
        }