        body{
            background-color: #070F2B;
            color: #9290C3;
        }
        h1{
            font-size: 38px;
        }
        a{
            text-decoration: none;
            color: #9290C3;
        }
        *{
            margin: 0%;
            padding: 0%;
        }
        h3,h2{
            text-align: center;
        }
        .navbar{
            background-image: linear-gradient(to top right,#070F2B,#535C91);
            top: 0;
            left: 0;
            width: 100%;
            height: 13vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid rgb(2, 3, 48);
            position: fixed;
            z-index: 1000;
        }

        .left{
            margin-left: 4%;
            transition: transform 5s ease;
        }
        
        .right{
            font-size: 160%;
            display: flex;
            width: 60%;
            justify-content: space-evenly;
            align-items: center;
        }

        h5:hover{
            border-radius: 5%;
            background-color: #141e40;
            transform: scale(1.3);
        }
        .left h1:hover{
            transform: scale(1.05);
        }
        
        .details{
            margin-top: 15vh;
            margin-bottom: 12vh;
            height: 70vh;
            width: 100%;
            border: 1px solid rgb(9, 6, 45);
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .lef{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
            width: 60%;
            border: 1px solid rgb(8, 8, 52);
        }
        .righ{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40vh;
            width: 30%;
            animation: bounce 3s ease infinite;
            border-radius: 50%;
        }
        @keyframes bounce{
            0%{transform: translateY(0);}
            50%{transform: translateY(30px);}
            100%{transform: translateY(0);}
        }

        .r img{
            border-radius: 50%;
        }

        .l{
            margin-top: 8%;
            margin-left: 4%
        }
        #resume{
            border: #9290C3;
            border-radius: 5rem;
            height: 5vh;
            width: 30%;
            color: #040a33;
            background-color: #9290C3;
            transition: transform 0.5s ease;
        }
        #resume:hover{
            transform: scale(1.1);
        }
        .social-links {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        .social-links img {
            width: 80px;
            height: 80px;
            transition: transform 0.3s ease;
        }

        .social-links img:hover {
            transform: scale(1.3);
        }