        body{
            background-color: #070F2B;
            color: #9290C3;
            font-family: sans-serif;
        }
        h1{
            font-size: 38px;
        }
        a{
            text-decoration: none;
            color: #9290C3;
            transition: transform 0.3s ease;
        }
        
        *{
            margin: 0%;
            padding: 0%;
            
        }
        .navbar{
            background-image: linear-gradient(to top right,#070F2B,#535C91);
            top: 0;
            left: 0;
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid rgb(2, 3, 48);
            position: fixed;
            z-index: 1000;
        }

        .left{
            font-size: 21px;
            margin-left: 50px;
            transition: transform 5s ease;
        }
        
        .right{
            font-size: 25px;
            display: flex;
            width: 700px;
            justify-content: space-evenly;
            align-items: center;
        }
        .right h5:hover{
            transform: scale(1.3);
        }
        .left h1:hover{
            transform: scale(1.05);
        }
        h5:hover{
            border-radius: 5px;
            background-color: #141e40;
        }
        .projectsout{
            margin-top: 90px;
        }
        .projects{
            
            border: 1px solid rgb(10, 3, 46);
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 410px;
            width: 100%;
        }
        
        .proj{
            border: 1px solid rgb(5, 3, 46);
            box-shadow: inset 0 0 10px rgb(255, 255, 255);
            border-radius: 8%;
            text-align: center;
            height: 370px;
            width: 370px;
            transition: transform 0.9s ease;
        }

        .proj:hover{
            transform: scale(1.05);
        }

        .projects pre{
            margin-top: 8px;
        }

        .projects img{
            margin-top: 14px;
            border-radius: 15px;
        }

        pre{
            font-size: 15px;
        }

        .social-links {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        .social-links img {
            width: 80px;
            height: 80px;
            transition: transform 0.3s ease;
        }

        .social-links img:hover {
            transform: scale(1.3);
        }
        h2,h3{
            text-align: center;
        }